<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="domainName_main">

    <select id="return1" resultType="int">
        <![CDATA[
        SELECT 1
        FROM dual
        ]]>
    </select>

    <select id="selectTbTestWithLimit" parameterType="int" resultType="com._sptek._webFrameworkExample.dto.TbTestDto">
        <![CDATA[
        SELECT c1, c2, c3
        FROM test limit #{limit}
        ]]>
    </select>

    <insert id="insertTbTest" parameterType="com._sptek._webFrameworkExample.dto.TbTestDto">
        <![CDATA[
        INSERT INTO test (c1, c2, c3)
        VALUES (#{c1}, #{c2}, #{c3})
        ]]>
    </insert>


    <update id="updateTbTest" parameterType="com._sptek._webFrameworkExample.dto.TbTestDto">
        <![CDATA[
            UPDATE test
            SET c1 = #{c1}, c2 = #{c2}, c3 = #{c3}
            WHERE c1 = (
                SELECT max_c1 FROM
                    (
                        SELECT MAX(c1) AS max_c1 FROM test
                    ) AS sub
            )
            ]]>
    </update>

    <update id="deleteTbTest">
        <![CDATA[
        DELETE FROM test
        WHERE c1 = (
            SELECT max_c1 FROM
            (
                SELECT MAX(c1) AS max_c1 FROM test
            ) AS sub
        )
        ]]>
    </update>

    <select id="selectAllTbTest" resultType="com._sptek._webFrameworkExample.dto.TbTestDto">
        <![CDATA[
        SELECT c1, c2, c3
        FROM test
        ]]>
    </select>

</mapper>
