<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<head>
    <title></title>
    <style>
        .footer {
            background-color: #f8f9fa;
            border-top: 1px solid #ced4da;
            padding: 15px 20px;
            text-align: center;
            font-size: 0.9rem;
            color: #495057;
        }

        .footer strong {
            color: #0d6efd;
        }
    </style>
</head>
<div class="footer-">

</div>
</html>