<!DOCTYPE html>
<!--라이브러리 참조 : Thymeleaf & Thymeleaf Layout -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head th:replace="~{common/fragment/config :: ConfigFragment}">
    <title></title>
</head>

<body>
<!--Header 영역을 참조합니다.-->
<header th:replace="~{common/fragment/header :: HeaderFragment}"></header>

<!--Navigation 영역을 참조합니다.-->
<nav th:replace="~{common/fragment/navigation :: NavigationFragment}"></nav>

<!--Content 내용 영역을 참조합니다-->
<div style="margin-left: 20px; margin-top: 20px;">
    <th:block layout:fragment="Content"></th:block>
    <br>
</div>

<!--Footer 영역을 참조합니다.-->
<footer th:replace="~{common/fragment/footer :: FooterFragment}"></footer>
</body>
</html>